# -----------------------
# OS / Editor / General Ignored Files
# -----------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# -----------------------
# Logging
# -----------------------
*.log

# -----------------------
# Unit Testing
# -----------------------
coverage/
reports/