# -----------------------
# Python / Flask Backend
# -----------------------
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cd]
*.egg-info/
.egg/
.env
instance/

# -----------------------
# Assets folder for yugioh cards
# -----------------------
assets/yugioh-card/*
assets/card-image/*
!assets/yugioh-card/.gitkeep
!assets/card-image/.gitkeep