# -----------------------
# Python / Flask Backend
# -----------------------
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cd]
*.egg-info/
.egg/
.env
instance/
.mypy_cache/

# -----------------------
# Assets folder for yugioh cards
# -----------------------
assets/card-material/*
assets/card-image/*
!assets/card-material/README.md
!assets/card-image/.gitkeep


# -----------------------
# Model
# -----------------------
model/*
!model/README.md
!model/LICENSE